html, body{
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.full-height{
    height: 100%;
}

.row{
    height: 100%;
}

.col-12{
	position: fixed;    
    bottom: 0px;
    left: 0px;    
    height: 30px;
    width: 100%;
    font-size: 80%;
    text-align: center;
    background-color: #1C1F40;
    color: white;
}

.header{
    background-color: #6470E5;
    height: 100%;   
}

#main{
	background-color: #8C7DFF;    
	text-align: center;
    height: 100%;
}

#infoUser{	
    /*margin-top: 50px;*/
	width: 60%;
	/*margin-bottom: 30px;*/
    /*text-align: center;*/
    margin: 0 auto;
}

.btn-secondary{
    background-color: white;
    color: black;
}

.normalUser{
    border-color: #007bff;
}

.noUser{
    border-color: red;
    /*background-color: orange;*/
}


/*Página do Chat*/

.navbar {
    position: fixed;
    bottom: 0px;
    left: 0px;  
    width: 100%; 
    height: 50px;
    background-color: #1C1F40;

}
.form-inline{
    margin: 0 auto;

}

/*VALIDAR COM ANGELITO
    PQ ao alterar o tamanho do componente ele joga pra baixo.
    Como fazer para tirar as partes dos lados (height), utilizando o mesmo CSS
*/
#message{
    width: 79%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #1C1F40;
}

.input-group{
    margin-top: 12px;
}

#logo{
    margin-top: 15px;
}

hr{
    width: 70%;
    background-color: white;
    margin-top: 5px;
}

#connectedUsers{
    font-size: smaller;
}
